:root {
    --title_font: "Helvetica";
    --body_font: "Roboto", sans-serif;
    --bleu: #0B29FB;
    --bleu_2: #0098D8;
    --vert: #5ABC00;
    --vert_2 : #3AC696;
}

*, :after, :before {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bleu);
    height: 10vh;
    padding: 0 2em 0 2em;
}

nav {
    height: 50%;
}

/*Hamburger Menu*/

#myLinks {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--bleu);
    color: white;
    padding: 1em;
    gap: 2em;
    right: 0;
    top: 10vh;
}

#myLinks h3 {
    text-decoration: underline;
}

#myLinks a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#myLinks a:hover{
    color: var(--vert);
}

.logo {
    width: 80%;
    height: 5vh;
    vertical-align: middle;
}

.icon img {
    width: 80%;
    height: 5vh;
}

body {
    margin: 0;
    font-family: var(--body_font);
}

main {
    margin: 2em;
}

h1,h2,h3,h4 {
    font-family: var(--title_font);
}

h2 {
    margin: 0;
}

p {
    line-height: 1.5;
}

.intro {
    text-align: center;
}

.intro h2 {
    font-weight: 600;
    color: var(--bleu);
    margin: 2em 0 2em 0;
}

.titre-accueil {
    background-color: var(--vert);
    border-radius: 2px;
    color: white;
    padding: 1em;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    grid-gap: 2em;
    margin: 4em 0 4em 0;
}

.card {
    height: fit-content;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 80%;
}

.card img {
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
}

.card a :hover {
    color: var(--vert);
}

.card-title h3 {
    color: #0d6efd;
    text-align: center;
    margin: 1em;
}

.card-body {
    padding: 1em 1em;
}

.card-body h4 {
    margin: 0;
}

.card-footer {
    color: #777;
    padding: 0 1em 1em;
}

footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    align-items: center;
    background-color: var(--bleu);
    color: white;
    padding: 2em;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

/*Articles*/

.article {
    margin: 2em;
}

.article h1 {
    text-align: center;
    margin: 2em;
}

.container {
    display: grid;
    margin: 0 2em 2em 2em;
}

.info-article div {
    padding: 1em 0 1em;
}

.info-article h4 {
    margin: 0;
}

.info-article a {
    color:#0d6efd;;
    text-decoration: none;
}

.info-article a :hover {
    color: var(--vert);
}


.img-article {
    grid-row-start: 1;
}

.img-article img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.share {
    text-align: center;
}

.border {
    border-bottom: 1px solid #777;
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

.article-text {
    margin-top: 4em;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .logo {
        width: 100%;
    }

    .icon img {
        width: 100%;
    }

    .grid-cards {
        grid-template-columns: repeat(2,1fr);
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: none;
    }

    /*Articles*/

    .article {
        margin: 2em 4em 2em 4em;
    }

    .container {
        grid-template-columns: 20% 60% 20%;
        margin: auto;
        width: 80%;
    }

    .img-article {
        grid-row-start: initial;
    }

    .share {
        text-align: end;
    }
    
}